.box{
    min-height: 100vh;
}
.signin-up-background{
    position: absolute;
    top: 54px;
    bottom: 0px;
    padding-top: 54px;
    width: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/sharecord-399bf.appspot.com/o/backgroundImage%2Ftop-view-person-writing-laptop-with-copy-space.jpg?alt=media&token=3c9426e8-255c-45b2-940e-78220c2933c2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 480px 130px 360px;
    justify-content: center;
}
.word-container{
    grid-column: 1/2;
}
.title{
    height: 112px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 48px;
    font-weight: bold;
    color: rgb(140, 131, 131);
}
.text{
    height: 170px;
    padding-left: 10px;
    margin-top: 20px;
    padding-right: 10px;
    font-size: 20px;
    color: rgb(140, 131, 131);
    line-height: 29px;
}
.signin-up-container{
    width: 360px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
    border-radius: 5px;
    grid-column: 3/4;
}
.signin-up-option-container{
    position: relative;
    height: 46px;
    display: grid;
    grid-template-columns: 51px 25px 105px;
    justify-content: center;
    align-items: center;
    border-bottom: #D8D1D1 solid 1px;
}
.signin{
    grid-column: 1/2;
    cursor: pointer;
}
.create-account{
    grid-column: 3/4;
    cursor: pointer;
}
.signin-bar{
    position: absolute;
    left: 88px;
    bottom:0px;
    width: 51px;
    height: 2px;
    background-color: black;
}
.signup-bar{
    position: absolute;
    left: 164px;
    bottom: 0px;
    width: 105px;
    height: 2px;
    background-color: black;
}
.signin-status-content-container{
    padding:10px 25px 25px;
}
.email-container{
    display: grid;
    grid-template-rows: 24px 55px;
}
.email{
    color: #938E8E;
    grid-row: 1/2;
}
.email-input{
    padding: 15px;
    border:#D8D1D1 solid 1px;
    border-radius: 5px;
    grid-row: 2/3;
}
.password-container{
    display: grid;
    grid-template-rows: 24px 55px;
}
.password{
    color: #938E8E;
    grid-row: 1/2;
}
.password-input-container{
    position: relative;
}
.password-input{
    width: 100%;
    padding: 15px;
    border:#D8D1D1 solid 1px;
    border-radius: 5px;
    grid-row: 2/3;
}
.password-show{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.signin-button{
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    background-color: #14113C;
    border: 0px;
    border-radius: 5px;
    grid-row: 3/4;
    cursor: pointer;
}
.error-message{
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
    font-size: 12px;
}
.item{
    margin-bottom: 10px;
}
.bar{
    position: relative;
    text-align: center;
}
.bar::before{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    height: 1px;
    transform: translateY(-50%);
    background-color: #D8D1D1;
}
.word{
    position: relative;
    color: #938E8E;
    padding: 0px 7px;
    background-color: #FFFFFF;
}
.other-signin-methods{
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #D8D1D1;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
    cursor: pointer;
}
.signin-with-google-icon{
    width: 35px;
    grid-column: 1/2;
}
.signin-with-google-word{
    padding-left: 45px;
    grid-column: 2/3;
}
@media (max-width: 1000px){
    .content-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        grid-template-columns: 1fr 360px;
    }
    .signin-up-container{
        grid-column: 2/3;
    }
    .word-container{
        grid-column: 1/2;
    }
    .title{
        height: 140px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 44px;
    }
    .text{
        height: 160px;
        padding-left: 10px;
        margin-top: 20px;
        padding-right: 10px;
        font-size: 16px;
    }
}
@media (max-width: 700px){
    .content-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 365px;
        align-items: center;
    }
    .signin-up-background{
        position: static;
    }
    .signin-up-container{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-left: auto;
        margin-right: auto;
    }
    .word-container{
        grid-row: 1/2;
        grid-column: 1/2;
        height: 300px;
    }
    .title{
        height: 100px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 44px;
    }
    .text{
        height: 160px;
        padding-left: 10px;
        margin-top: 20px;
        padding-right: 10px;
        font-size: 16px;
    }
}