.Home-box{
    padding-top: 54px;
    min-height: 100vh;
}
.Home-background{
    position: absolute;
    width: 100%;
    height: 250px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/sharecord-399bf.appspot.com/o/backgroundImage%2Ftop-view-person-writing-laptop-with-copy-space.jpg?alt=media&token=3c9426e8-255c-45b2-940e-78220c2933c2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.Home-background-slogan{
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 80px 80px;
    grid-template-columns: 1fr 100px 1fr;
    align-content: center;
    align-items: center;
    color: #485892;
    font-size: 6vmin;
}
.Home-slogan-line1{
    grid-row: 1/2;
    grid-column: 1/3;
}
.Home-slogan-line2{
    grid-row: 2/3;
    grid-column: 2/4;
}
.Home-content-box{
    position: relative;
    padding: 270px 0px 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: calc(100vh - 54px);
    display: grid;
    grid-template-columns: 200px 760px;
}
.Home-personal-label-container{
    grid-column: 1/2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 250px);
}
.Home-label-box{
    margin-bottom: 20px;
}
.Home-label-container{
    height: 40px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}
.Home-label-image-container{
    grid-column: 1/2;
    height: 40px;
}
.Home-label-image{
    width: 40px;
    height: 40px;
}
.Home-category-container{
    height: 40px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    cursor: pointer;
}
.Home-category-image-container{
    grid-column: 1/2;
    height: 40px;
}
.Home-category{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}
.Home-post-container{
    grid-column: 2/3;
}
.Home-post-search-container{
    position: sticky;
    top: 54px;
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: 38px 1fr 280px;
    background-color: #FFFFFF;
    align-items: center;
    justify-items: center;
    z-index: 99;
}
.Home-menu-icon-container{
    display: none;
    grid-column: 1/2;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.Home-menu-icon{
    width: 22px;
}
.Home-categorymenu-container{
    position: absolute;
    width: 150px;
    top: 35px;
    left: 0px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #d3d8e7;
    border: 1px solid #485892;
    border-radius: 5px;
}
.Home-post-search-box{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 250px 30px;
    align-items: center;
    justify-items: center;
}
.Home-post-search-input{
    width: 100%;
    height: 100%;
    padding-left: 5px;
    grid-column: 1/2;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
}
.Home-post-search-image-container{
    width: 25px;
    height: 25px;
    grid-column: 2/3;
    cursor: pointer;
}
.Home-post-search-image{
    width: 25px;
    height: 25px;
}
.Home-post-box{
    height: 180px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.Home-post-information{
    width: 240px;
    display: grid;
    grid-template-columns: 40px 200px;
    align-items: center;
    cursor: default;
}
.Home-post-avatar-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    grid-column: 1/2;
    overflow: hidden;
}
.Home-post-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.Home-post-time{
    color: #938E8E;
}
.Home-post-content-container{
    height: 120px;
    display: grid;
    grid-template-rows: 34px 38px 18px 25px;
    grid-template-columns: 1fr 30px 120px;
    align-items: center;
}
.Home-post-title{
    font-size: 20px;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 1/2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.Home-post-text{
    grid-row: 2/3;
    grid-column: 1/2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.Home-post-like-message-container{
    grid-row: 4/5;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(4, 25px);
    align-items: center;
    justify-items: center;
}
.Home-post-like-container{
    grid-column: 1/2;
    width: 25px;
    height: 25px;
}
.Home-post-like{
    width: 25px;
    height: 25px;
}
.Home-post-message-container{
    grid-column: 3/4;
    width: 25px;
    height: 25px;
}
.Home-post-message{
    width: 25px;
    height: 25px;
}
.Home-post-photo-container{
    grid-row: 1/5;
    grid-column: 3/4;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
}
.Home-post-photo{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
@media (max-width: 1000px){
    .Home-background-slogan{
        width: 90%;
        grid-template-columns: 1fr 150px 1fr;
    }
    .Home-content-box{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .Home-post-container{
        width: 100%;
        grid-column: 1/2;
    }
    .Home-personal-label-container{
        display: none;
    }
    .Home-menu-icon-container{
        display: block;
    }
}