.Introduce-box{
    padding: 54px 0px 50px;
}
.Introduce-content-box{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}
.Introduce-slogan-container{
    width: 1000px;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
}
.Introduce-slogan-title{
    font-size: 12vmin;
    border-bottom: 1px solid black;
}
.Introduce-slogan-item{
    margin-top: 50px;
    font-size: 4vmin;
}
.Introduce-slogan-item-plus{
    padding-top: 20px;
}
.Introduce-start-button-container{
    height: 36px;
    margin-top: 40px;
    display: grid;
    justify-content: center;
}
.Introduce-start-button{
    padding: 6px;
    width: 110px;
    background-color: #98A8DF;
    border-radius: 5px;
}
.Introduce-start-button:hover{
    background-color: #6F84CF;
}
.Introduce-read-container{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 50px;
}
.Introduce-read-image-container{
    grid-column: 1/2;
}
.Introduce-read-image{
    width: 100%;
}
.Introduce-read-word-container{
    grid-column: 2/3;
    background-color: #EDDBDB;
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.Introduce-read-word{
    grid-column: 1/2;
}
.Introduce-read-word-title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.Introduce-read-icon-container{
    grid-column: 2/3;
}
.Introduce-read-icon{
   width: 120px;
   height: 120px;
}
.Introduce-arrow-icon-container{
    display: grid;
    justify-items: center;
    margin-bottom: 50px;
}
.Introduce-arrow-icon{
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
}
.Introduce-collect-container{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 50px;
}
.Introduce-collect-word-container{
    grid-column: 1/2;
    background-color: #ACD3DC;
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.Introduce-collect-image-container{
    grid-column: 2/3;
}
.Introduce-collect-image{
    width: 100%;
}
.Introduce-write-container{
    display: grid;
    grid-template-columns: 60% 40%;
}
.Introduce-write-image-container{
    grid-column: 1/2;
    width: 100%;
}
.Introduce-write-image{
    width: 100%;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
.Introduce-write-word-container{
    grid-column: 2/3;
    background-color: #E0D9EF;
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
@media (max-width: 1200px){
    .Introduce-slogan-container{
        width: 100%;
    }
}
@media (max-width: 800px){
    .Introduce-slogan-container{
        width: 100%;
    }
    .Introduce-read-container{
        grid-template-rows: 30vh 1fr;
        grid-template-columns: 1fr;
    }
    .Introduce-read-image-container{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .Introduce-read-word-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .Introduce-collect-container{
        grid-template-rows: 30vh 1fr;
        grid-template-columns: 1fr;
    }
    .Introduce-collect-image-container{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .Introduce-collect-word-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .Introduce-write-container{
        grid-template-rows: 30vh 1fr;
        grid-template-columns: 1fr;
    }
    .Introduce-write-image-container{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0px;
    }
    .Introduce-write-word-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}