.Setup-box{
    padding-top: 54px;
    min-height: 100vh;
}
.Setup-background{
    position: absolute;
    top: 54px;
    bottom: 0px;
    padding-top: 100px;
    width: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/sharecord-399bf.appspot.com/o/backgroundImage%2Ftop-view-person-writing-laptop-with-copy-space.jpg?alt=media&token=3c9426e8-255c-45b2-940e-78220c2933c2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Setup-member-container{
    background-color: #FFFFFF;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
.Setup-member-title{
    font-size: 28px;
    padding: 20px 0px 10px;
    text-align: center;
}
.Setup-member-avatar-container{
    width: 90%;
    display: grid;
    justify-items: center;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #D8D1D1;
}
.Setup-member-avatar-image-container{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
}
.Setup-member-avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.Setup-member-avatar-change-icon-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.Setup-member-avatar-change-icon{
    width: 20px;
    height: 20px;
}
.Setup-personal-information-container{
    display: grid;
    grid-template-rows: 25px 55px 45px;
    padding: 20px 0px 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.word-gray{
    color: #938E8E;
}
.Setup-name-input-container{
    grid-row: 2/3;
    margin-bottom: 10px;
}
.Setup-name-input{
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #D8D1D1;
    outline: none;
}
.Setup-email-input-container{
    grid-row: 4/5;
    margin-bottom: 10px;
}
.Setup-personal-information-button{
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    background-color: #14113C;
    border: 0px;
    border-radius: 5px;
    grid-row: 3/4;
    cursor: pointer;
}
.Setup-email-new-input-container{
    grid-row: 6/7;
}
.Setup-showCheckBox-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:200px;
    width: 200px;
    height: 200px;
    padding: 20px 0px 20px;
    background-color: #D8D1D1;
    z-index: 99;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.Setup-showCheckBox-image-container{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.Setup-showCheckBox-image{
    width: 80px;
    height: 80px;
}
.Setup-showCheckBox-background{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.Setup-showCheckBox-button{
    text-align: center;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #14113C;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}