.Header{
    position: fixed;
    width: 100%;
    background-color: #d0d7e4;
    z-index: 2;
    border-bottom: 1px solid #e9dcdc;
}
.Header-container{
    width: 1200px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 152px 1fr 38px 38px 38px 91px;
    align-items: center;
    justify-items: center;
}
.Header-icon{
    height: 34px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #485892;
    grid-column: 1/2;
    cursor: pointer;
}
.Header-createpost-link{
  grid-column: 4/5;
}
.Header-write-icon-container{
  width: 22px;
  height: 22px;
}
.Header-my-link{
  grid-column: 5/6;
}
.Header-member-icon-container{
  width: 22px;
  height: 22px;
}
.Header-signin-up{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #14113C;
    line-height: 14px;
    grid-column: 6/7;
    cursor: pointer;
}
@media (max-width: 1200px){
  .Header-container {
    width: 100%;
  }
}